@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/******************** SELEÇÃO DO MOUSE ********************/
::selection {
  background-color: rgb(1, 4, 177);
  color: #fff;
}

::selection:active {
  background-color: #ff00f294;
}




/******************** CORES ********************/
:root {
  --color-primary: #6c63ff;
  --color-sucess: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #e7015e;
  --color-danger-variant: rgb(247, 87, 66);
  --color-white: #fff;
  --color-light: rgba(82, 82, 82, 0.541);
  --color-black: #000;
  --color-bg: #fff;
  --color-bg1: #e7015e;
  --color-bg2: #8a0439;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}




/******************** CORPO DA PÁGINA ********************/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: #ffffff;
  background: var(--color-bg);
}




/******************** CONTAINER ********************/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}




/******************** SEÇÕES ********************/
section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}




/******************** TITULOS ********************/
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}




/******************** LINKS ********************/
a {
  color: #fff;
}




/******************** IMAGENS ********************/
img {
  width: 100%;
  display: block;
  object-fit: cover;
}




/******************** BOTÕES ********************/
.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 500;
}

.btn-primary {
  background: linear-gradient(to right, #361ac0, #3c1dd6);
  /* Gradiente de cores */
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0.8rem 2.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  /* Transição suave */
}

.btn-primary:hover {
  background: linear-gradient(to right, #3c1dd6, #361ac0);
  /* Gradiente de cores invertido */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}




/******************** MENU ********************/
nav {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100vw;
  height: 110px;
  background-color: #000040;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000040;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav.active::before {
  transform: scaleX(1);
}




/******************** MENU DESLIZE ********************/
.window-scroll {
  background-color: #000040;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-menu a {
  position: relative;
  padding: 0.5rem 0;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  transition: var(--transition);
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(255, 251, 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.nav-menu a:hover::after,
.nav-menu a.active::after {
  transform: scaleX(1);
}

.nav-menu a:hover {
  color: #f8f8f8;
}




/******************** LOGO DENTRO DO MENU ********************/
.login__header img {
  max-width: 80px;
  margin: 0 10px;
}




/******************** HEADER ********************/
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
  top: 6rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/campus.png');
  background-attachment: fixed;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-left {
  text-align: center;
  margin: auto;
}

.header-left h2 {
  font-size: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1rem;
}

.header-left p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 2rem;
}

.header-left .btn {
  display: inline-block;
}




/******************** IMAGEM NA BARRA MENU ********************/
.login__header img {
  width: 120px;
  margin: 0 10px;
}




/******************** GESTÃO 2023 ********************/
.descrição {
  background: #fff;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  color: #000;
  text-align: center;
}

.descrição h4 {
  font-size: 40px;
  color: #170d4b;
  margin: 0;
  padding: 10px;
}

.descriçãoo {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 10px;
  text-align: justify;
  /* Adiciona justificação ao texto */
}

@media only screen and (max-width: 600px) {
  .descrição {
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    padding-top: 70px;
  }

  .descrição h4 {
    font-size: 30px;
    color: #170d4b;
    margin: 0;
    padding: 10px;
  }

  .descriçãoo {
    font-size: 16px;
    line-height: 1.5;
    padding: 5px;
    text-align: justify;
    /* Adiciona justificação ao texto */
  }
}




/******************** FOOTER ********************/
footer {
  background-color: #170d4b;
  padding-top: 0px;
  font-size: 12px;
  color: #fff;
}

.footer-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-container>div {
  width: 100%;
  max-width: 300px;
  /* Defina a largura máxima desejada */
  text-align: center;
}

.footer-container>div h4 {
  margin-bottom: 20px;
  color: #fff;
}

.footer-1 p {
  margin: 0 0 10px;
}

.footer-copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 1rem;
  padding: 1.2rem 0;
  background-color: #0c0630;
}




/******************** ICONES FOOTER ********************/

.footer-1 a {
  display: inline-block;
  margin-right: 10px;
  /* Espaçamento entre as imagens */
}

.footer-1 img {
  width: 50px;
  /* Largura das imagens */
  height: auto;
  /* Altura automática para manter a proporção original */
}




/******************** MOBILE ********************/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }


  /* NAVBAR */

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  nav button.close-menu-btn {
    display: none;
  }

  .nav-menu {
    position: fixed;
    top: 6.9rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav-menu li {
    width: 100%;
    height: 70px;
    animation: animateNavItens 800ms ease-out forwards;
    transform-origin: top right;
  }

  .nav-menu li a {
    background-color: #17175e;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav-menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }


  /*HEADER*/

  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header-container {
    gap: 0;
    padding-bottom: 0rem;
  }


  /*FOOTER*/

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  /* ICONES FOOTER */

  .footer-1 a {
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento entre as imagens */
  }

  .footer-1 img {
    width: 40px;
    /* Largura das imagens */
    height: auto;
    /* Altura automática para manter a proporção original */
  }
}

/*CELULAR*/

@media screen and (max-width: 600px) {

  .container {
    width: var(--container-width-sm);
  }

  /*NAVBAR*/
  .nav-menu {
    right: 3%;
  }

  /*HEADER*/
  header {
    height: 50vh;
  }

  .header-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header-left h2 {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1rem;
  }

  .header-left p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2rem;
  }

  .btn-primary {
    margin-top: 10px;
  }



  /* cor de fundo padrão da seleção */
  ::selection {
    background-color: #ff00f294;
    color: #fff;
  }

  /* cor de fundo da seleção quando um elemento está ativo */
  ::selection:active {
    background-color: #ff00f294;
  }


  /*FOOTER*/

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer-1 p {
    margin: 1rem auto;
  }

  .footer-socials {
    justify-content: center;
  }
}